* {
  background-color: burlywood;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#resultInEUR, #resultInUSD {
  font-size: 20px;
  color: #1e7916;
}

button {
    background-color: #71728fd4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #71728f;
  }

input[type="number"] {
    padding: 10px;
    border: 1px solid #71728fd4;
    border-radius: 7px;
    font-size: 1rem;
  }
  input[type="number"]:focus {
    border-color: #71728f;
  }

  .title {
    color: #71728f; font-size: 80; opacity: 2;
  }